body {
    font-family: sans-serif;
}

header{
    background-color: blue;
}
footer {
    background-color: blue
}
main h1 {
    text-align: center;
}

main h2 {
    color: red;

}
ul {
    list-style: url("https://learn.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg");
    
}
footer p {
    color: white;
    font-size: 20px;
    padding: 20px;
}
main p {
    font-size: 30px;
    text-align: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding :20px
}
